/* Move down content because we have a fixed navbar that is 50px tall */

html {
  /*background-image: url("static/images/dark-background.jpg");*/
  background-position: center;
  /*background-repeat: none;*/
  background-attachment: fixed;
  background-size: cover;
}

body {
  /*padding-top: 50px;
  padding-bottom: 20px;*/
  font-family: "Lato";
  /*background-color: #404040;*/
  background: none;
}

ul {
  color: white;
  /*display: inline-block;*/
}

li {
  /*display: inline-block;*/
  padding: 1px;
  color: white;
  /*background: #A9A9A9;*/
}

#contact {
  /*background: navy;*/
  border-radius: 5px;
}
#contact:hover {
  background: white;
  border-radius: 5px;
}

.nav-container {
  margin: 0px;
}
.navbar {
  /*background-color: rgba(0,0,0,0.6);*/
  background-color: #2098d1;
  border: none;
  /*background: none;*/
  color: white;
  padding: 35px;
  position: absolute;
  top: 0px;
}


#navbar {
  margin-top: 20px;
}

@media (min-width: 1000px) {
  #navbar>ul {
    position: absolute;
    right: 100px;
  }
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  border-radius: 5px;

}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #9d9d9d;
  background: white;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav {
    background: #2098d1;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav>li>a  {
    /*border: 1px solid black;*/
  }
}

.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-collapse {
  color: white;
}

/*.nav .navbar-nav .navbar-right {
  width: 100%;
}*/

.brand-container {
  width: 200px;
  position: absolute;
  left: 100px;
  top: 25px;
}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  margin: 0px;
}

.brand-title {
  font-size: 15px;
  font-weight: lighter;
}

@media (max-width: 420px){
  .brand-title {
    display: none;
  }
}

@media (max-width: 420px){
  .brand {
    position: relative;
    right: 110px;
    font-size: 15px;
  }
}

a {
  color: white;
}

.main {
  position: relative;
  top: 50px;
}
.home-page-content>p {
  margin: 0px;
  font-size: 43px;
  line-height: 1.4;
  font-weight: bold;
  color: white;
}

@media (max-width: 410px) {
  .home-page-content>p {
    font-size: 30px;
  }
}
.home-page-content>h4 {
  margin: 0px;
  /*line-height: 1.4;*/
  position: relative;
  bottom: 10px;
  color: white;
}

/*@media (max-width: 420px){
  .home-page-content {
    position: relative;
    top: 50px;
  }
}*/
h4 {
  margin: 0px;
  padding: 10px;
}

medium {
  line-height: 2;
  word-spacing: 2px;
  /*letter-spacing: 1px;*/
}

.fa {
  width: 40px;
  transform:scale(2);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.outside-wrapper {
  background: #2098d1;
  /*background: none;*/
  color: white;
  height: 225px;
}

.container {
  /*background-color: #404040;*/
  /*background-color: blue;*/
}

.about {
  margin-top: 100px;
  text-align: center;
}



.skills {
  /*padding-top: 20px;*/
  /*margin-left: -30px;*/
  /*position: relative;*/
  /*left: 25px;*/
}

/*.skills-content {
  position: relative;
  left: 15px;
}*/

.jmhf-site {
  display: inherit;
  float: left;
}

.jmhf-site>.text-center>h3 {
  vertical-align: center;
}

.motivation {
  /*width: 50%;*/
  display: inherit;
}

img {
  width: 50%;
}

@media (max-width: 800px){
  img {
    width: 100%;
  }
}

.happyHour {
  /*width: 50%;*/
  display: inline;
}

.AGexample,.motivation,.happyHour {
  /*display: inherit;
  float: left;*/
}

.project > medium {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.col-lg-5 {
  display: inherit;
}

.projects {
  margin-top: 89px;
}

.project {
  /*margin-top: 50px;*/
  /*margin-bottom: 50px;*/
}


.title {
     color: white;
    font-weight: lighter;
    background: #2098d1;
    position: relative;
    top: 90px;
    padding: 114px;
}

.title>p {
  letter-spacing: 1.5px;
}

#title {
  font-size: 40px;
}

footer {
  /*position: absolute;
  bottom: 0px;*/
  color: white;
  background: #222;
  padding: 70px;
}

.form {
  position: relative;
  top: 75px;
  color: black;
}

input {
  width: 200px;
  color: black;
  border: 1px solid gray;
}

textarea {
  color: black;
}

.submit {
  width: 75px;
  background-color: #2098d1;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.footer-container {
  position: relative;
  top: 150px;
  background: #222;
}



/*About page*/

.headshot {
      width: 150px;
      height: auto;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      /*padding-left: 7px;*/
    }
    @media only screen and (min-width: 481px) {
      .headshot {
    float: left;
    margin-right: 1.4em;
      }
    }

    /*@media (max-width: 1000px) {
      .headshot {
        width: 125px;
      }
    }*/
    .skills-content {
      padding-bottom: 50px;
    }

    .wrapper-about {
      margin-bottom: 80px;
    }

    @media (max-width: 500px) {
      .list {
        position: relative;
        left: 0px;
      }
    }

    .skills>h2 {
      /*position: relative;
      left: 50px;*/
    }

    @media (max-width: 500px) {
      /*.skills>h2 {
        position: relative;
        left: 15px;
      }*/
    }

    .outside-wrapper-about>.container {
      position: relative;
      top: 60px;

    }

    .outside-wrapper-about {
      margin-bottom: 80px;
      padding: 70px;
      background: #2098d1;
    }
  










/*Projects*/

.body-projects {
      background-color: black;
}

.outside-wrapper-projects {
      height: 400px;
      margin: 0px;
}

.outside-wrapper-projects>.container {
      position: relative;
      top: 270px;
      background-color: #2098d1;
}

.container-projects {
      margin: 0px;
      padding: 0px;
      width: 100%;
}

.row-project {
      margin: 0px;
      padding: 0px;
}

.project {
      background-color: black;
}

.div-overlay:hover {
      background: rgba(255, 255, 255, 0.2);
}

.img-project {
      padding: 0px;
}

.img-project:hover {
      opacity: 0.2;
}

.col-sm-6 {
      padding: 0px;
}

/*.footer-projects {
  position: relative;
  top: 250px;
}*/


/*Contact page*/


    .outside-wrapper-contact {
      height: 150px;
    }


    .outside-wrapper-contact>h2 {
      text-align: center;
      width: 100%;
      background: #2098d1;
      padding-top: 100px;
      padding-bottom: 44px;
      position: relative;
      top: 70px;
      color: white;
    }

    .outside-wrapper-contact>.container {
      margin-top: 50px;
    }

    .footer-contact {
      position: relative;
      top: 700px;
    }

  
