html {
  background: rgba(0, 0, 0, 0.8);
}

body {
  margin: 0px;
}

.main {
  position: relative;
  top: 15vw;
}

.bg-img {
  width: 100%;
  position: absolute;

  -webkit-filter: blur(2px);
	/*filter: blur(3px);*/
  opacity: .70;
  z-index: -1;
}

.myname {
color: #00BAF7;
/*color: lightgray;*/
/*color: white;*/
font-size: 6vw;
text-align: center;
position: relative;
/*bottom: 25px;*/
/*border-bottom: 3px solid #00BAF7;*/
margin: 0px;
}

.web-dev {
  z-index: 9;
  width: 100%;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  position: relative;
  top: -1vw;
}

.web-text {
  /*color: #00BAF7;*/
  color: #00BAF7;
  /*color: lightgray;*/
  font-size: 2.5vw;
  border-bottom: 3px solid #00BAF7;
  /*border-bottom: 3px solid lightgray;*/
  text-align: center;
  z-index: 9;
  width: 30%;
  /*padding-bottom: 25px;*/
}

.headshot-container {
display: flex;
justify-content: center;
position: relative;
bottom: 50px;
}

.headshot {
  height: 16vw;
  border-radius: 50%;
  z-index: 9;

}

.links {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 10%;
  position: relative;
  left: 45%;
}

.github {
  height: 30px;
  border-radius: 50%;
  z-index: 9;

}
.linkedin {
  height: 40px;
  border-radius: 50%;
  z-index: 9;
  position: relative;
  bottom: 5px;

}

.email {
  height: 30px;
  border-radius: 50%;
  z-index: 9;
}

.contact-info {
  width: 25%;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 37.5%;
  color: #00BAF7;
  font-size: 1.4vw;
}

.portfolio-container {
  position: relative;
  top: 45vw;
  /*border-top: 3px solid white;*/
  background: black;
  width: 100vw;

}

.hh {
display: flex;
justify-content: space-around;
padding: 5%;
}

.hh-title {
font-size: 3vw;
}

.hh-content {
  width: 45%;
  color: #00BAF7;
}

.hh-content {
  font-size: 1.5vw;
}

.happy-hour-pic {
  width: 40vw;
  float: right;
}
