html {
  /*background: rgba(0, 0, 0, 0.8);*/
  background: #404040;
  font-family: "Lato";

}

body {
  margin: 0px;
}

.main {

  /*background-image: url(images/background1.jpeg);*/
}

.fa {
  color: white;
  transform: scale(1.5);
  padding-left: 20px;
  padding-right: 20px;
}

.bg-img {
  width: 100%;

  position: absolute;

  -webkit-filter: blur(0px);
	/*filter: blur(3px);*/
  opacity: .3;
  z-index: -1;

}

.myname {
  position: absolute;
  top: 195px;
  width: 100%;
}

.myname-text {
/*color: #003366;*/
/*color: lightgray;*/
color: white;
/*color: #003366;*/
font-size: 12,5px;
display: flex;
justify-content: center;
/* bottom: 25px; */
/* border-bottom: 3px solid #003366; */
margin: 0px;
font-weight: 100;
}

@media(max-width: 625px) {
  .myname {
    text-align: center;
  }
}


.web-dev {
  z-index: 9;
  width: 100%;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  position: absolute;
  top: 125px;
}

.web-text {
  /*color: #003366;*/
  /*color: #003366;*/
  color: white;
  font-size: 30px;
  /*border-bottom: 3px solid #003366;*/
  /*border-bottom: 3px solid lightgray;*/
  text-align: center;
  z-index: 9;
  width: 100%;
  margin: 0px;
  /*padding-bottom: 25px;*/
  font-weight: 100;
}

@media (max-width: 625px) {
  .web-text {
    width: 50%;
  }
}

.headshot-container {
display: flex;
justify-content: center;
position: relative;
bottom: 50px;
}

.headshot {
  height: 16vw;
  border-radius: 50%;
  z-index: 9;

}

.links {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 255px;

}

.github {
  height: 30px;
  border-radius: 50%;
  z-index: 9;
  padding: 10px;
}

/*.github:hover {
  transform: scale(1.75);
}*/

.linkedin {
  height: 40px;
  border-radius: 50%;
  z-index: 9;
  padding: 10px;
  position: relative;
  top: 4px;
}

/*.linkedin:hover {
  transform: scale(1.75);
}*/

.email {
  height: 30px;
  border-radius: 50%;
  z-index: 9;
  padding: 10px;
}

.email:hover {
  transform: scale(1.75);

}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 185px;
  /*color: #003366;*/
  color: white;
  font-size: 12.5px;
}

@media (max-width: 500px) {
  .contact-info {
    text-align: center;
    flex-direction: column;
  }
}

.e-mail {
  padding-right: 10px;
}

.phone {
  padding-left: 10px;
}

/*@media (max-width: 500px) {
  .phone {
    position: relative;
    bottom: 100px;
  }
}*/

.portfolio-container {
  position: relative;
  top: 45vw;
  /*border-top: 3px solid white;*/
  background: white;
  width: 100vw;
}

.about-container{
  color: #003366;
  padding: 5%;
  padding-top: 9%;
}
.about-content {
  font-size: 25px;
}

.about-title {
  font-size: 55px;
  margin: 0px;
  text-align: center;
  margin-bottom: 3vw;
}

.skills {
  text-align: center;
  /*background: white;*/
}

.skills-title {
  font-size: 55px;
  margin: 0px;
  margin-top: 5vw;
  text-align: center;
  margin-bottom: 3vw;
  color: #003366;
}

.skills-icon {
  height: 120px;
  padding: 5px;
}

.skills-icon:hover {
transform: scale(1.75);
}

.hh {
display: flex;
justify-content: space-around;
padding: 5%;
margin-top: 10vw;
}



.hh-title {
font-size: 60px;
margin-top: 0px;
}

/*@media (max-width: 1500px){
  .hh {
display: block;
text-align: center;

  }
}*/

.hh-content {
  width: 45%;
  color: #003366;
  font-size: 25px;
}

/*@media (max-width: 1500px){
  .hh-content {
    width: 100%;
  }
}*/

/*@media (max-width: 1500px){
  .happy-hour-pic {
    width: 925px;
    text-align: center;
  }
}

@media (max-width: 1500px){
  .hh-pics {
    width: 100%;
    text-align: center;
  }
}*/

.happy-hour-pic {
  width: 600px;
  float: right;
}
.happy-hour-pic:hover {
  transform: scale(1.1);
}



.footer-content {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0px;
  font-size: 10px;
}
